spring:
  cloud:
    consul:
      enabled: false
    vault:
      enabled: false
  autoconfigure:
    exclude: org.springframework.boot.autoconfigure.r2dbc.R2dbcAutoConfiguration

management:
  endpoints:
    web:
      exposure:
        include: "*"
  otlp:
    tracing:
      export:
        enabled: false

springdoc:
  api-docs:
    enabled: true

server:
  ssl:
    enabled: false

opentelemetry:
  tracing:
    endpoint: http://localhost:4318/v1/traces