spring:
  cloud:
    consul:
      enabled: false
    vault:
      enabled: false
  r2dbc:
    url: r2dbc:oracle://?oracle.r2dbc.descriptor=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVER=DEDICATED)))
    username: WORKOUT
    password: oracle

management:
  endpoints:
    web:
      exposure:
        include: "*"
  otlp:
    tracing:
      export:
        enabled: false

springdoc:
  api-docs:
    enabled: true

server:
  ssl:
    enabled: false

opentelemetry:
  tracing:
    endpoint: http://localhost:4318/v1/traces